<header>
    <a class="logo" href="/"><img src="/logo.svg" alt="logo"></a>
    <ul id="menu-items">
        <li><a href="/">Home</a></li>
        <li><a href="/posts/">Latest</a></li>
        <li><a href="/authors/">Authors</a></li>
        <li class="desktop-hidden"><a href="">Contact</a></li>
    </ul>
    <a href="" class="cta">Get in touch</a>
    <div id="menu"><i class="hamburger"></i></div>
    <script>
        const menu = document.querySelector('#menu')
        const icon = menu.querySelector('i')
        const menuItems = document.querySelector('#menu-items')
    
        const switchIcon = () => {
            if (icon.classList.contains('hamburger')) {
                icon.classList.remove('hamburger')
                icon.classList.add('cross')
            } else {
                icon.classList.add('hamburger')
                icon.classList.remove('cross')
            }
        }
    
        menu.addEventListener('click', () => {
            menuItems.classList.toggle('visible')
            switchIcon()
        })
    </script>
</header>